/* styles.css or your component's CSS file */

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Set a high z-index value to overlay other content */
  }
  
  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.3); /* Semi-transparent black background */
  }

  .custom-spinner{
    width: 50%;
    height: 50%;
  }
  