nz-alert {
    position:absolute;
    top: 90%;
    left: 25%;
    right: 25%;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

:host ::ng-deep .ant-alert {
    font-size: 22px;
}